{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yoga Studio | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flaticon.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section set-bg" data-setbg="/static/images/img/hero-slider/shapka.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="main-menu">
                        <div class="logo">
                            <a href="{% url 'home_page' %}">
                                <span class="tickler-text">WOMEN'S FITNESS </span>
                                {% comment %} <img src="/static/images/img/image (10).png" alt=""> {% endcomment %}
                            </a>
                        </div>
                        <nav class="inner-main-navbar mobile-menu">
                            <ul>
                                <li><a href="{% url 'home_page' %}">Главная</a></li>
                                <li><a href="{% url 'work_page' %}">Тренировки</a></li>
                                <li><a href="{% url 'about_us_page' %}">О нас</a></li>
                                <li><a href="./elements.html">Питание</a></li>
                                <li><a href="{% url 'personal_page' %}">Личный кабинет (<span>{{ user.username }}</span>)</a></li>
                                
                            </ul>
                        </nav>
                        <div id="mobile-menu-wrap"></div>
                        <div class="row pt-5 mb-5">
                            <div class="col-lg-10 offset-lg-1 pt-5">
                                <div class="home-title">
                                    <h2>Выбери направление тренировки, которое тебе нужно!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    {% comment %} <section class="hero-slider"> {% endcomment %}
        <div class="slider-items owl-carousel">
            <div class="single-slider-item set-bg" data-setbg="/static/images/img/qqq.jpg">
            {% comment %} <h1><small>Выбери направление тренировки, которое тебе нужно!</small></h1> {% endcomment %}
            <div class="row pt-5 mt-5">
                <div class="col-md-4">
                    <div class="single-classes">
                        <i class="flaticon-002-yin-yang"></i>
                        <h3>Силовые Тренировки</h3>
                        <p style="color:#000000;">Чаще всего силовыми, или анаэробными, называют тренировки с собственным весом и отягощениями, направленные на увеличение мышечной силы. При этом потребление энергии идет анаэробным путем – за счет мышечного гликогена, без участия кислорода. </p>
                        <a href="#" class="primary-btn">Тренироваться</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-classes">
                        <i class="flaticon-021-yoga-mat"></i>
                        <h3>Стретчинг</h3>
                        <p style="color:#000000;">Переведено с английского языка.-Растяжение - это форма физических упражнений, при которой конкретная мышца или сухожилие преднамеренно сгибаются или растягиваются, чтобы улучшить чувствительность мышц и достичь комфортного мышечного тонуса.</p>
                        <a href="{% url 'stretching_page' %}" class="primary-btn">Тренироваться</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-classes">
                        <i class="flaticon-001-meditation"></i>
                        <h3>Йога</h3>
                        <p style="color:#000000;">Йога – это целостное и многогранное учение о познании себя и окружающего мира, имеющее тысячелетнюю историю. В древности она была крайне закрытой системой, поскольку техники и практики  были очень сильными и давали реальное могущество. </p>
                        <a href="{% url 'yoga_page' %}" class="primary-btn">Тренироваться</a>
                    </div>
                </div>
            </div>
                <div class="container">
                    <p><b></b></p>    
                </div>
            </div>
        </div>
    </section>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/circle-progress.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>
